RewriteEngine On

RewriteRule ^(application_images)($|/) - [L]

ErrorDocument 404 http://localhost/system_ogloszeniowy/praca/glowna
RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+) index.php?c=$1&f=$2
RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)/(([0-9][/])+)$ index.php?c=$1&f=$2&parameters=$3